html,
body,
pre,
button,
select,
textarea,
[type='button'],
[type='submit'],
[type='text'],
[type='password'],
[type='search'],
[type='email'],
[type='url'],
[type='number'],
[type='tel'],
[type='file'],
[type='date'],
[type='time'] {
  font-family: $font-default;
  line-height: $line-height-default;
  letter-spacing: $letter-spacing-default;
  color: $color-black;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

button:focus:not(:focus-visible),
[type='button']:focus:not(:focus-visible),
[type='submit']:focus:not(:focus-visible) {
  outline: none;
}

label {
  cursor: pointer;
}

@-moz-document url-prefix() {
  select {
    text-indent: -2px;
  }
}


html,
body,
#app {
  height: 100%;
  margin: 0;
}

// 1 primary
// 2	secondary
// 3	tertiary
// 4	quaternary
// 5	quinary
// 6	senary
// 7	septenary
// 8	octonary
// 9	nonary
// 10	denary
// 11	- 
// 12	duodenary


// text
.text-title-1.text-title-1 {@include font-size-default(18);}
.text-title-2.text-title-2 {@include font-size-default(16);}
.text-title-3.text-title-3 {@include font-size-default(14);}
.text-title-4.text-title-4 {@include font-size-default(12);}

.text-body-1.text-body-1 {@include font-size-default(14);}
.text-body-2.text-body-2 {@include font-size-default(12);}



// font-weight
.font-weight-thin.font-weight-thin {font-weight: 100;}
.font-weight-light.font-weight-light {font-weight: 300;}
.font-weight-regular.font-weight-regular {font-weight: 400;}
.font-weight-medium.font-weight-medium {font-weight: 500;}
.font-weight-bold.font-weight-bold {font-weight: 700;}

// underline
.underline.underline {text-decoration: underline;}

// align
.align-left.align-left {text-align: left;}
.align-right.align-right {text-align: right;}
.align-center.align-center {text-align: center;}

// basic-link
.basic-link.basic-link {color: inherit;text-decoration: underline;}

// none-deco-link
.none-deco-link.none-deco-link {color: inherit;text-decoration: none;}

// link-block
.link-block.link-block {display: block;color: inherit;text-decoration: none;}

// ellipsis
.ellipsis.ellipsis {white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}

// multi-ellipsis
.multi-ellipsis {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  max-height: #{$line-height-default * 2}em;

  &--line-3 {
    -webkit-line-clamp: 3;
    max-height: #{$line-height-default * 3}em;
  }

}



// reset-list
.reset-list {@include reset-list;}

// for-a11y
.for-a11y {@include for-a11y;}


