

// basic
@mixin for-a11y($tag: null) {
  display: block;
  margin: 0;
  position: absolute;
  z-index: -1;
  width: 1px;
  height: 1px;
  font-size: 1px;
  line-height: 1px;
  color: transparent;
  border: none;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
  filter: alpha(opacity=0);
  background: none;

  @if $tag == caption {
    display: table-caption;
    margin: 0 0 -1px;
    position: static;
  }
}

// floating-clear
@mixin floating-clear {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

// font-size
@mixin font-size-default($size) {
  font-size: rem($size);
  line-height: $line-height-default;
  letter-spacing: $letter-spacing-default;
}
